ipykernel
yfinance
BeautifulSoup4
scipy
prophet
statsmodels
pmdarima
seaborn
yahoo_fin
datetime
feedparser
pandas
requests
requests_html
finplot
matplotlib
numpy
pytictoc
pandas_ta
ta
pandas_datareader
streamlit
plotly

nose
sphinx