jupyter
ipykernel
yfinance
BeautifulSoup4
statsmodels
datetime
feedparser
pandas
requests
requests_html
finplot
matplotlib
numpy
pytictoc
pandas_ta
ta
pandas_datareader
streamlit
# torch
# torch==1.11.0+cu115 --extra-index-url https://download.pytorch.org/whl/cu115 --no-cache-dir
scikit-learn
seaborn
plotly
prophet

pdfplumber